<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Lỗi</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Đã xảy ra lỗi</h1>
      <p><%= message %></p>
      <a href="/">Quay về trang chủ</a>
    </div>
  </body>
</html>
